@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,body
{
    margin:0;
    padding:0;
    style="font-family: 'Showcard Gothic'";
   background: url(../images/github.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    color:white;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}


.btn-mat
{
    background: #1e88e5;
}
.btn-mat:hover
{
    background-color: #e61d92!important;
}

.btn-mat:hover a
{
    color: white;
}


.backdrop
{
    position: absolute;
    height: 400px;
    width: 60vw;
    top: 50%;
    background: url()no-repeat;
    background-size: cover ;
    }
.input-setting
{
    margin-top: 10%;
    border: none;
    outline: none;
    padding: 7px;
    width: 20vw;
    border-radius: 5px;
}

.b:hover 
{
    color: white;
}
